<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="choose.component.css">
</head>

<body>

    <div class="container">

        <div class="frame">
            <div class="registration-info">
                <h2>Welcome to our registration page!</h2>
                <p>Choose your role and sign up to get started:</p>
                <ul>
                    <li><strong>Sign Up as Doctor:</strong> If you are a medical professional.</li>
                    <li><strong>Sign Up as Patient:</strong> If you are looking for medical services.</li>
                </ul>
            </div>
            <div class="buttons">
                <a href="/signup-doctor">Sign Up as Doctor</a>
                <a href="/signup">Sign Up as Patient</a>
            </div>
        </div>
    </div>

</body>