<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="scheduel.component.css">
</head>

<body>
    <div id="fullDiv">
        <div class="header">
            <div class="title">Calendar Schedule</div>
            <div class="month-year">May 2024</div>
        </div>
        <ul>
            <li class="day">SUN</li>
            <li class="day">MON</li>
            <li class="day">TUE</li>
            <li class="day">WED</li>
            <li class="day">THUR</li>
            <li class="day">FRI</li>
            <li class="day">SAT</li>
            <li class="date"><input type="text" placeholder="1"></li>
            <li class="date"><input type="text" placeholder="2"></li>
            <li class="date"><input type="text" placeholder="3"></li>
            <li class="date"><input type="text" placeholder="4"></li>
            <li class="date"><input type="text" placeholder="5"></li>
            <li class="date"><input type="text" placeholder="6"></li>
            <li class="date"><input type="text" placeholder="7"></li>
            <li class="date"><input type="text" placeholder="8"></li>
            <li class="date"><input type="text" placeholder="9"></li>
            <li class="date"><input type="text" placeholder="10"></li>
            <li class="date"><input type="text" placeholder="11"></li>
            <li class="date"><input type="text" placeholder="12"></li>
            <li class="date"><input type="text" placeholder="13"></li>
            <li class="date"><input type="text" placeholder="14"></li>
            <li class="date"><input type="text" placeholder="15"></li>
            <li class="date"><input type="text" placeholder="16"></li>
            <li class="date"><input type="text" placeholder="17"></li>
            <li class="date"><input type="text" placeholder="18"></li>
            <li class="date"><input type="text" placeholder="19"></li>
            <li class="date"><input type="text" placeholder="20"></li>
            <li class="date"><input type="text" placeholder="21"></li>
            <li class="date"><input type="text" placeholder="22"></li>
            <li class="date"><input type="text" placeholder="23"></li>
            <li class="date"><input type="text" placeholder="24"></li>
            <li class="date"><input type="text" placeholder="25"></li>
            <li class="date"><input type="text" placeholder="26"></li>
            <li class="date"><input type="text" placeholder="27"></li>
            <li class="date"><input type="text" placeholder="28"></li>
            <li class="date"><input type="text" placeholder="29"></li>
            <li class="date"><input type="text" placeholder="30"></li>
            <li class="date"><input type="text" placeholder="31"></li>
            <li class="date"><input type="text" placeholder="1"></li>
            <li class="date"><input type="text" placeholder="2"></li>
            <li class="date"><input type="text" placeholder="3"></li>
            <li class="date"><input type="text" placeholder="4"></li>
        </ul>
    </div>
</body>

</html>