<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Monthly Patient Examination Chart</title>
    <link rel="stylesheet" href="activity.component.css">
</head>

<body>
    <h2>Your Monthly Avtivities</h2>

    <div class="chart-container">
        <canvas id="myChart" width="150" height="100"></canvas>
        <canvas id="pieChart" width="150" height="100"></canvas>
    </div>
</body>

</html>